<div class="grid-breakpoints" *ngFor="let id of videoId"> 
    <youtube-player 
      videoId="{{id.videoURL}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    <!-- <i class="fa fa-thumbs-down"></i>
    <span class="glyphicon glyphicon-thumbs-down"></span> -->
    
    <youtube-player 
      videoId="{{id.videoURL1}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL2}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL3}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL4}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL5}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL6}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL7}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;

    <youtube-player 
      videoId="{{id.videoURL8}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL9}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL10}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL11}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL12}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL13}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL14}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL15}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL16}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL17}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL18}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL19}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    
    <youtube-player 
      videoId="{{id.videoURL20}}" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="450" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>&nbsp;
    </div>
    
    
    <!-- <iframe 
      [src]='videoURL | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe>
    <iframe 
      [src]='videoURL1 | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe>
    <iframe 
      [src]='videoURL2 | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe>
    <iframe 
      [src]='videoURL3 | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe>
    <iframe 
      [src]='videoURL4 | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe>
    <iframe 
      [src]='videoURL5 | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe>
    <iframe 
      [src]='videoURL6 | safe' 
      width="100%" height="518vh" 
      frameborder="0" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen>
    </iframe> -->